.menuContainer{
padding:0px 5%;
height: 90vh;
  background-color:#101B1E;
  display:flex;
  
}
.menu_item{
flex:1;
  background-image: url('https://images.unsplash.com/photo-1542222780-b06f7307d2c5?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size:cover;
  border-left: solid #101B1E;
}


