<nav>
    <div class="logo">
        <figure class="logo_icon">
            <img src="../../../assets/img/cards.png"/>
        </figure>
        <h1>SALA DE JUEGOS</h1>
        <figure class="logo_icon">
            <img src="../../../assets/img/cards.png"/>
        </figure>
    </div>
    <ul>
        <li><a href="#">Acerca de</a></li>
        <li *ngIf="!isLoged"><a href="#">Ingresar</a></li>
        <li>Hola {{userName}}</li>
        <li *ngIf="isLoged"><button class="boton" (click)="out()">Salir</button></li>

    </ul>
    <div class="hamburger" #mobileNav>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</nav>
<div class="menubar" #navbar>
    <ul>
        <li><a href="#">Acerca de</a></li>
        <li><a href="#">Ingresar</a></li>
        <li><a href="#">Registrar</a></li>
        <li><button class="boton" (click)="out()">Salir</button></li>

    </ul>
</div>