<div class="menuContainer">
    <div class="menu_item menu_juego1">
        <div class="menu_card">
            <div class="menu_card_title">EL AHORACADO</div>
            <div class="menu_card_description">
                ¡El juego del ahorcado es exactamente lo que necesitas! Imagina sumergirte en un mundo donde cada letra
                que propones te acerca un paso más a la victoria, pero también puede llevarte al borde del abismo. ¿Qué
                palabra misteriosa se oculta detrás de cada ronda? ¿Podrás descifrarla antes de que se complete el
                dibujo del ahorcado? Ven y únete a la emoción de este juego clásico de palabras. ¡Te garantizo que no
                podrás resistirte a intentarlo una y otra vez!
            </div>
            <div class="menu_card_buttons">
                <button class="boton" (click)="jugarAhorcado()">Jugar</button>
            </div>
        </div>
    </div>
    <div class="menu_item menu_juego2">
        <div class="menu_card">
            <div class="menu_card_title">HIGHER OR LOWER</div>
            <div class="menu_card_description">
                Higher or Lower es el juego perfecto para ti! Prepárate para una experiencia emocionante llena de
                suspense y emoción mientras intentas predecir si la próxima carta será más alta o más baja que la
                anterior. ¿Te sientes afortunado? ¡Es hora de descubrirlo! Enfréntate al desafío y descubre si puedes
                superar las probabilidades. ¡Entra ahora y deja que la diversión comience!
            </div>
            <div class="menu_card_buttons">
                <button class="boton" (click)="jugarHigerOrLower()">Jugar</button>
            </div>
        </div>
    </div>
    <div class="menu_item menu_juego3">
        <div class="menu_card">
            <div class="menu_card_title">TRIVIA CHALLENGE</div>
            <div class="menu_card_description">
                ¡Trivia Challenge! Sumérgete en un mundo lleno de preguntas fascinantes que abarcan desde la historia
                hasta la ciencia, pasando por la cultura pop y mucho más. ¿Crees que puedes responder correctamente a
                preguntas que desafiarán incluso a los más astutos? ¡Es hora de demostrarlo! Cada pregunta es una
                oportunidad para aprender algo nuevo y demostrar tu ingenio. ¿Estás listo para el desafío? Únete a la
                diversión y demuestra que eres el maestro de las trivialidades. ¡Entra ahora y comienza a jugar!
            </div>
            <div class="menu_card_buttons">
                <button class="boton">Jugar</button>
            </div>
        </div>
    </div>
    <div class="menu_item menu_juego4">
        juego 4
    </div>
</div>